@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700&display=swap");
* {
  font-family: "Cairo" !important;
}

.bg-secondary-100 {
  background-color: #eee !important;
}

.dash-side {
height: 87dvh;
}

.dash-button {
  background-color: #fff;
}